# Join the result for all workers (Test) on only one submission.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import glob

In [3]:
file_path = 'Datasheet/submission/'
all_files = glob.glob(file_path + "*.csv")
Submission_2_5_MH= pd.DataFrame(columns=['id', 'Depression'])

In [4]:
all_files

['Datasheet/submission/Submission.2.5.Students.csv',
 'Datasheet/submission/Submission.2.5.Workers.csv']

In [5]:
for filename in all_files:
    df = pd.read_csv(filename)
    Submission_2_5_MH = pd.concat([Submission_2_5_MH,df], axis = 0).reset_index(drop=True)

In [7]:
Submission_2_5_MH

           id Depression
0      140703          1
1      140708          0
2      140719          1
3      140720          1
4      140721          1
...       ...        ...
93795  234492          1
93796  234495          0
93797  234496          1
93798  234498          1
93799  234499          0

[93800 rows x 2 columns]

In [8]:
Submission_2_5_MH.to_csv('Datasheet/submission/sample_submission_all_2_5.csv', index=False)

In [ ]:
# result = pd.concat([df_pred_pro,df_pred_stu], axis = 0).reset_index(drop=True)
# df_results = result.sort_values(by='id', ascending=True).reset_index(drop=True)