### To take the clean data (train) and separate it by Students/Workers.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Mental_Health = pd.read_csv('Datasheet/MH.wCity.Clean.2.5.csv')

In [3]:
Mental_Health['Financial Stress']=Mental_Health['Financial Stress'].fillna(Mental_Health['Financial Stress'].mean())

In [4]:
Mental_Health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Gender                                 140700 non-null  int64
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   CGPA                                   27898 non-null   float64
 5   Sleep Duration                         140700 non-null  float64
 6   Dietary Habits                         140700 non-null  float64
 7   Have you ever had suicidal thoughts ?  140700 non-null  int64
 8   Work/Study Hours                       140700 non-null  float64
 9   Financial Stress                       140700 non-null  float64
 10  Family History of Mental Illness       140700 non-null  int64
 11  Work                                   140700 non-null  object
 12  Satisfaction                           140700 non-null  float64
 13  Pressure                               140700 non-null  float64
 14  Depression                             140700 non-null  int64
dtypes: float64(8), int64(5), object(2)
memory usage: 16.1+ MB

In [5]:
Mental_Health

,id,Gender,Age,City,CGPA,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Work,Satisfaction,Pressure,Depression
0,0,1,49.0,Ludhiana,NaN,8.5,2.0,0,1.0,2.0,0,Working Professional,2.0,5.0,0
1,1,0,26.0,Varanasi,NaN,4.5,0.0,1,7.0,3.0,0,Working Professional,3.0,4.0,1
2,2,0,33.0,Visakhapatnam,8.97,5.5,2.0,1,3.0,1.0,0,Student,2.0,5.0,1
3,3,0,22.0,Mumbai,NaN,4.5,1.0,1,10.0,1.0,1,Working Professional,1.0,5.0,1
4,4,1,30.0,Kanpur,NaN,5.5,0.0,1,9.0,4.0,1,Working Professional,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,1,18.0,Ahmedabad,NaN,5.5,0.0,0,2.0,4.0,1,Working Professional,4.0,5.0,1
140696,140696,1,41.0,Hyderabad,NaN,7.5,1.0,1,6.0,5.0,1,Working Professional,4.0,5.0,0
140697,140697,1,24.0,Kolkata,NaN,8.5,1.0,0,4.0,4.0,0,Working Professional,1.0,3.0,0
140698,140698,1,49.0,Srinagar,NaN,5.5,1.0,1,10.0,1.0,0,Working Professional,2.0,5.0,0
140699,140699,0,27.0,Patna,9.24,4.5,2.0,1,2.0,3.0,1,Student,1.0,4.0,1

### I will make a data frame by Students/workers

In [6]:
Mental_Health['Work'].unique()

array(['Working Professional', 'Student'], dtype=object)

In [7]:
for worker in Mental_Health['Work'].unique():
    worker_df = Mental_Health[Mental_Health['Work'] == worker]
    worker_df.to_csv(f'Datasheet/MH.{worker}.Clean.2.5.csv', index=False)