# Join the result for all workers (Test) on only one submission.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import glob

In [3]:
file_path = 'Datasheet/submission/'
all_files = glob.glob(file_path + "*.csv")
Submission_2b_MH= pd.DataFrame(columns=['id', 'Depression'])

In [4]:
all_files

['Datasheet/submission/Submission.2b.Workers.csv',
 'Datasheet/submission/Submission.2b.Students.csv']

In [5]:
for filename in all_files:
    df = pd.read_csv(filename)
    Submission_2b_MH = pd.concat([Submission_2b_MH,df], axis = 0).reset_index(drop=True)

In [6]:
Submission_2b_MH

           id Depression
0      140700          0
1      140701          0
2      140702          0
3      140704          0
4      140705          0
...       ...        ...
93795  234485          1
93796  234490          0
93797  234493          0
93798  234494          0
93799  234497          0

[93800 rows x 2 columns]

In [7]:
Submission_2b_MH.to_csv('Datasheet/submission/sample_submission_all_2b.csv', index=False)

In [ ]:
# result = pd.concat([df_pred_pro,df_pred_stu], axis = 0).reset_index(drop=True)
# df_results = result.sort_values(by='id', ascending=True).reset_index(drop=True)