# Join the result for all cities (Test) on only one submission.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
Cities_MH =['Visakhapatnam',
 'Kolkata',
 'Jaipur',
 'Rajkot',
 'Kalyan',
 'Mumbai',
 'Surat',
 'Srinagar',
 'Delhi',
 'Lucknow',
 'Thane',
 'Meerut',
 'Nagpur',
 'Ghaziabad',
 'Chennai',
 'Varanasi',
 'Indore',
 'Pune',
 'Hyderabad',
 'Kanpur',
 'Nashik',
 'Bhopal',
 'Faridabad',
 'Bangalore',
 'Vasai-Virar',
 'Ludhiana',
 'Patna',
 'Vadodara',
 'Ahmedabad',
 'Agra',
 'Lost_city']

In [8]:
Cities_MH

['Visakhapatnam',
 'Kolkata',
 'Jaipur',
 'Rajkot',
 'Kalyan',
 'Mumbai',
 'Surat',
 'Srinagar',
 'Delhi',
 'Lucknow',
 'Thane',
 'Meerut',
 'Nagpur',
 'Ghaziabad',
 'Chennai',
 'Varanasi',
 'Indore',
 'Pune',
 'Hyderabad',
 'Kanpur',
 'Nashik',
 'Bhopal',
 'Faridabad',
 'Bangalore',
 'Vasai-Virar',
 'Ludhiana',
 'Patna',
 'Vadodara',
 'Ahmedabad',
 'Agra',
 'Lost_city']

In [20]:
import glob

In [51]:
file_path = 'Datasheet/submission/'
all_files = glob.glob(file_path + "*.csv")
Submission_MH= pd.DataFrame(columns=['id', 'Depression'])

In [53]:
for filename in all_files:
    df = pd.read_csv(filename)
    Submission_MH = pd.concat([Submission_MH,df], axis = 0).reset_index(drop=True)

In [55]:
Submission_MH

           id Depression
0      140781          0
1      140802          1
2      140812          0
3      140844          0
4      140850          0
...       ...        ...
93795  234195          0
93796  234245          0
93797  234319          0
93798  234351          0
93799  234382          0

[93800 rows x 2 columns]

In [58]:
Submission_MH.to_csv('sample_submission_2.csv', index=False)

In [ ]:
# result = pd.concat([df_pred_pro,df_pred_stu], axis = 0).reset_index(drop=True)
# df_results = result.sort_values(by='id', ascending=True).reset_index(drop=True)