### To take the clean data (Test) and separate it by cities.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
Mental_Health_Test = pd.read_csv('Datasheet/MH.Test.wCity.Clean.2.csv')

In [7]:
Mental_Health_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     93800 non-null  int64
 1   Gender                                 93800 non-null  int64
 2   Age                                    93800 non-null  float64
 3   City                                   93800 non-null  object
 4   Sleep Duration                         93800 non-null  float64
 5   Dietary Habits                         93800 non-null  float64
 6   Have you ever had suicidal thoughts ?  93800 non-null  int64
 7   Work/Study Hours                       93800 non-null  float64
 8   Financial Stress                       93800 non-null  float64
 9   Family History of Mental Illness       93800 non-null  int64
 10  Work                                   93800 non-null  int64
 11  Satisfaction                           93800 non-null  float64
 12  Pressure                               93800 non-null  float64
dtypes: float64(7), int64(5), object(1)
memory usage: 9.3+ MB

In [9]:
counts = Mental_Health_Test['City'].value_counts()
counts

City
Kalyan               4387
Vasai-Virar          3897
Patna                3888
Kolkata              3726
Ahmedabad            3677
                     ...
Mhopal                  1
Less than 5 hours       1
Pratyush                1
Malyan                  1
No.12                   1
Name: count, Length: 68, dtype: int64

In [11]:
aux_1T = Mental_Health_Test[Mental_Health_Test['City'].map(counts)>1000]

In [13]:
city_valT = aux_1T['City'].unique()
city_valT # wichcityes have more than 1000 answers

array(['Visakhapatnam', 'Kolkata', 'Jaipur', 'Rajkot', 'Kalyan', 'Mumbai',
       'Surat', 'Srinagar', 'Delhi', 'Lucknow', 'Thane', 'Meerut',
       'Nagpur', 'Ghaziabad', 'Chennai', 'Varanasi', 'Indore', 'Pune',
       'Hyderabad', 'Kanpur', 'Nashik', 'Bhopal', 'Faridabad',
       'Bangalore', 'Vasai-Virar', 'Ludhiana', 'Patna', 'Vadodara',
       'Ahmedabad', 'Agra'], dtype=object)

In [15]:
city_allT = Mental_Health_Test['City'].unique()
city_allT

array(['Visakhapatnam', 'Kolkata', 'Jaipur', 'Rajkot', 'Kalyan', 'Mumbai',
       'Surat', 'Srinagar', 'Delhi', 'Lucknow', 'Thane', 'Meerut',
       'Nagpur', 'Ghaziabad', 'Chennai', 'Varanasi', 'Indore', 'Pune',
       'Hyderabad', 'Kanpur', 'Nashik', 'Bhopal', 'Faridabad',
       'Bangalore', 'Vasai-Virar', 'Ludhiana', 'Patna', 'Vadodara',
       'Ahmedabad', 'Agra', 'Malyan', 'Pratyush', 'Vidya',
       'Less than 5 hours', 'Aditi', 'Keshav', 'Nalini', 'Mhopal', 'Avni',
       'Ira', 'Vaishnavi', 'Bhavna', 'Lawyer', 'Thani', 'Hrithik', 'City',
       'Unaly', 'Is Kanpur', 'Golkata', 'Less Delhi', 'Sara', 'Saurav',
       'Vikram', 'Parth', 'Siddhesh', 'Vaikot', 'Leela', 'Chemist',
       'San Vasai-Virar', 'No', 'More Delhi', 'Saanvi', 'Pratham',
       'Vidhi', 'Abhinav', 'Rolkata', 'Ghopal', 'No.12'], dtype=object)

In [17]:
# 30 cities have more than 1000 answers, and the others have less than ten. 
change_missT = np.setdiff1d(city_allT, city_valT) #elements in city_all that are not in city_val
change_missT

array(['Abhinav', 'Aditi', 'Avni', 'Bhavna', 'Chemist', 'City', 'Ghopal',
       'Golkata', 'Hrithik', 'Ira', 'Is Kanpur', 'Keshav', 'Lawyer',
       'Leela', 'Less Delhi', 'Less than 5 hours', 'Malyan', 'Mhopal',
       'More Delhi', 'Nalini', 'No', 'No.12', 'Parth', 'Pratham',
       'Pratyush', 'Rolkata', 'Saanvi', 'San Vasai-Virar', 'Sara',
       'Saurav', 'Siddhesh', 'Thani', 'Unaly', 'Vaikot', 'Vaishnavi',
       'Vidhi', 'Vidya', 'Vikram'], dtype=object)

In [19]:
#I will change all those 'City names' to Lost_city
Mental_Health_Test['City'] = Mental_Health_Test['City'].replace(to_replace=change_missT, value='Lost_city')

In [21]:
Mental_Health_Test['City'].value_counts() # People in Lost_city

City
Kalyan           4387
Vasai-Virar      3897
Patna            3888
Kolkata          3726
Ahmedabad        3677
Meerut           3661
Srinagar         3547
Ludhiana         3545
Rajkot           3450
Visakhapatnam    3416
Pune             3318
Agra             3189
Vadodara         3169
Mumbai           3129
Hyderabad        3123
Surat            3090
Varanasi         3052
Indore           3040
Kanpur           2978
Jaipur           2874
Lucknow          2860
Thane            2835
Nagpur           2748
Bangalore        2707
Chennai          2674
Delhi            2536
Ghaziabad        2486
Bhopal           2370
Faridabad        2196
Nashik           2182
Lost_city          50
Name: count, dtype: int64

Lost_City only 50

In [23]:
lista_ciudadesT = Mental_Health_Test['City'].unique().tolist()
lista_ciudadesT

['Visakhapatnam',
 'Kolkata',
 'Jaipur',
 'Rajkot',
 'Kalyan',
 'Mumbai',
 'Surat',
 'Srinagar',
 'Delhi',
 'Lucknow',
 'Thane',
 'Meerut',
 'Nagpur',
 'Ghaziabad',
 'Chennai',
 'Varanasi',
 'Indore',
 'Pune',
 'Hyderabad',
 'Kanpur',
 'Nashik',
 'Bhopal',
 'Faridabad',
 'Bangalore',
 'Vasai-Virar',
 'Ludhiana',
 'Patna',
 'Vadodara',
 'Ahmedabad',
 'Agra',
 'Lost_city']

In [25]:
for city in Mental_Health_Test['City'].unique():
    city_df = Mental_Health_Test[Mental_Health_Test['City'] == city]
    city_df.to_csv(f'Datasheet/MH.{city}.Test.Clean.2.csv', index=False)